<!-- Details section-->
<h1>{{ cv.details.name }}</h1>
<hr>
<table class="table--details">
    <tr>
        <td>{{ details.uni}}</td>
        <td>Email: {{ details.email }}</td> 
    </tr>
    <tr>
        <td>{{ details.dept}}</td>
        <td>Phone: {{ details.phone }}</td> 
    </tr>
    <tr>
        <td>{{ details.place}}</td>
        <td>Github: {{ details.github }}</td> 
    </tr>
    <tr>
        <td></td>
        <td>Linkedin: {{ details.linkedin }}</td> 
    </tr>
</table>
<!-- End of Details section-->