<!-- Extracurricular Activity section -->
<div class="row">
    <div class="column"><h2 class="section__title">Extracurricular<br>Activity</h2></div>
    <div class="column">
        {% for extra in extracurricular %}
        <div class="content--gap">
            <p class="content__title">{{ extra.title }}</p>
            <p class="content__details">{{ extra.details }}</p>
            <ul class="content__bullets">
            {% for item in extra.bullets %} 
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div> 
<!-- End of Extracurricular activity section -->